<?xml version="1.0" encoding="utf-8"?>

<configuration xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">
  <connectionStrings>
    <add name="BlogContext" connectionString="data source=database;initial catalog=BinaryDad;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework" xdt:Transform="SetAttributes" xdt:Locator="Match(name)" />
  </connectionStrings>
  <system.web>
    <compilation xdt:Transform="RemoveAttributes(debug)" />
  </system.web>
  <system.webServer>
    <rewrite xdt:Transform="Insert">
      <rules>
        <rule name="RemoveWWW">
          <match url="(.*)" />
          <conditions>
            <add input="{HTTP_HOST}" pattern="^binarydad\.com$" negate="true" />
          </conditions>
          <action type="Redirect" url="http://binarydad.com/{R:1}" />
        </rule>
      </rules>
    </rewrite>
  </system.webServer>
</configuration>